numpy
scipy
lxml
matplotlib
networkx
codecov
# pygraphviz
pytest-cov
pytest-subtests
pytest-dependency
pyro-ppl
torchviz
torch
torch_geometric==1.7.0
meshcat
black
drake
https://dl.fbaipublicfiles.com/pytorch3d/packaging/wheels/py310_cu118_pyt201/pytorch3d-0.7.4-cp310-cp310-linux_x86_64.whl
